@{
    ViewData["Title"] = "Pagina inicial";
}

<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">Bem vindo!</h1>
            <p class="link-secondary">Conteúdo de aprendizagem <a href="https://github.com/N0vais"> Web apps with
                    ASP.NET Core
                </a> testando via Github.</p>
        </div>
    </div>
</div>

<div class="card bg-primary">
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">Arquivos para estudos de tecnologia</h1>
            <p class="bg-secondary">Ao se cadastrar voce terá acesso aos documentos que te ajudarão em sua jornada.</p>
        </div>
    </div>
</div>



<div class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
        <div class="container-fluid p-4 my-4 text-muted ">


            <div class="card">
                <div class="card-body">
                    <h1 class="mt-5">Cadastro de Aluno</h1>
                    <p class="lead text-justify">Preencha os campos abaixo.</p>

                    <!-- Formulário HTML -->
                    <form name="novo_aluno" action="" method="post">
                        <!-- formatação de linha do Bootstrap -->
                        <div class="row">
                            <!-- div configurada com espaços pelo Bootstrap -->
                            <div class="col-md-6 mb-3">
                                <!-- rótulo que fica acima do campo -->
                                <label for="nome">NOME</label>

                                <!-- campo do formulário com placeholder -->
                                <input type="text" class="form-control" id="nome" name="nome"
                                    placeholder="Digite o nome completo" value="" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="ra">RA</label>
                                <input type="text" class="form-control" id="ra" name="ra" placeholder="Digite seu RA"
                                    value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="curso">CURSO</label>
                                <select class="form-select d-block w-100" id="curso" name="curso" required>
                                    <option value="">Selecione o Curso</option>
                                    <option value="CC">Ciências da Computação</option>
                                    <option value="SI">Sistemas de Informação</option>
                                    <option value="TADS">Tecnologia em Análise de Sistemas</option>
                                    <option value="TRC">Tecnologia em Redes de Computadores</option>
                                    <option value="TGTI">Tecnologia em Gestão de TI</option>
                                    <option value="TBD">Tecnologia em Banco de Dados</option>
                                </select>
                            </div>
                        </div>

                        <!-- campo oculto para ser enviado ao controller -->
                        <input type="hidden" name="operacao" value="novo">

                        <!-- botão de enviar o formulário -->
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Cadastrar">
                    </form>
                </div>
            </div>
        </div>
