@{
    ViewData["Title"] = "Politica de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Esta pagina é somente teste </p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquam reprehenderit laudantium debitis adipisci provident molestiae ad, pariatur est tempore asperiores molestias totam, mollitia modi veniam harum, suscipit repudiandae ullam.</p>
